<div style="margin-left: 20px;">
<h2>Welcome to Angular</h2>
<app-users [componentDetails] = "parentToChild" (childToParent) = "childToParent($event)"></app-users>

<h3><b>Click Event</b></h3>
<button (click)="clickButton(username.value)" style="color: rebeccapurple;">Click Me</button>

<h3><b>Key Up Event</b></h3>
<input type="text" (keyup.enter)="myEvent(username.value)" #username> 

<h3><b>Key Down Event</b></h3>
<input type="text" (keydown.enter)="myEvent($event.target.value)"> 

<h3><b>Blur</b></h3>
<input type="text" (blur)="myEvent($event.target.value)"> 

<h3 style="background-color: red;" (mouseover)="myEvent('Hovered Here')"> Mouse Hover Example</h3>

<h3 style="background-color: blue;" (mouseleave)="myEvent('UnHovered Here')"> Mouse Leave Example</h3>

<h3><b>Binding Value</b></h3>
<input type="text" [value]="course" [disabled]="isDisabled"><br/> <br/>
<input type="text" value={{course}} disabled={{isDisabled}}> <br/> <br/>
<button (click)="enableText()"> Enable </button> <br/> <br/>

<h3><b>If Loop</b></h3>
<h5 *ngIf="show; then ifBlock else elseBlock"></h5>
<ng-template #ifBlock>If Block</ng-template>
<ng-template #elseBlock>Else Block</ng-template>

<h3> <b>Else if Condition </b></h3>
<ng-template [ngIf]="color=='red'"><p style="color: red;">Red Colour</p></ng-template>
<ng-template [ngIf]="color=='green'"><p style="color: green;">Red Colour</p></ng-template>
<ng-template [ngIf]="color=='blue'"><p style="color: blue;">Red Colour</p></ng-template>


<h3><b>Switch Condition</b></h3>
<div [ngSwitch]="colorSwitch">
    <h4 style="color: red;" *ngSwitchCase="'red'">Red Colour</h4>
    <h4 style="color: yellow;" *ngSwitchCase="'yellow'">Yellow Colour</h4>
    <h4 style="color: blue;" *ngSwitchCase="'blue'">Blue Colour</h4>
    <h4 style="color: green;" *ngSwitchCase="'green'">Green Colour</h4>
    <h4 style="color: grey;" *ngSwitchDefault>Grey Colour</h4>
</div>

<h3><b>For Loop</b></h3>
<table border="1">
<tr>
    <th>Name</th>
    <th>Age</th>
</tr>
<tr *ngFor="let row of data" >
    <td>{{row.name}}</td>
    <td>{{row.age}}</td>
</tr>
</table>

<h2><b>Two way Binding - ng-model</b></h2>
<label>Ng-Model</label><input type="text" [(ngModel)]="career" [(disabled)]="ismodelDisabled" > <br/> <br/>
<label>Ng-Bind</label><input type="text" #careersid [value]="careers" [disabled]="ismodelDisabled"> <br/> <br/>
<label>Interpolation</label><input type="text" value="{{careerss}}" > <br/> <br/>
{{career}}<br/>
{{careers}} <br/>
<button (click)="disable(careersid.value)" >Disable</button><br/> <br/>

<h3><b>Forms in Angular</b></h3>
<form #userForm = "ngForm" (ngSubmit)= "submitData(userForm.value)">
    <input type="text" name="users" placeholder="Enter Name" ngModel> <br/> <br/>
    <input type="text" name="email" placeholder="Enter Email" ngModel> <br/> <br/>
    <input type="password" name="password" placeholder="Enter Password" ngModel> <br/> <br/>
    <button type="submit">Submit</button>
</form>

<h3> <b>Style Binding</b></h3>

<h4 style="color: red;" >Red Colour</h4>
<h4 [style.color]="yellowcolour">Yellow Colour</h4>
<button (click)="changeColour()">Change Colour</button>
<h4 [style.color]= "err ? redcolour : greencolour"> Correct / Wrong </h4>
<button (click)="toggle()">Toggle Error</button> <br/> <br/>

<h3> <b>Angular Material</b></h3>
<button mat-button color="primary">Primary</button>

<h3> <b>Pipes</b></h3>
<h4>{{pipeName | uppercase}}</h4>
<h4>{{pipeName | lowercase}}</h4>
<h4>{{pipeName | titlecase}}</h4>
<h4>{{pipeDate | date: 'dd-MM-yyyy'}}</h4>
<h4>{{pipeName | slice:0:4}}</h4>
<h4>{{pipeNumber | currency:'INR'}}</h4>

<h3>Child To Parent</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let row of childToParentData" >
        <td>{{row.name}}</td>
        <td>{{row.age}}</td>
    </tr>
</table> <br/> <br/>


<h3>Custom Directive Example</h3>
<h4>Normal Directive</h4>
<h4 appCustomDirective>Custom Directive</h4>

<h3>Data From Service</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let row of dataFromService" >
        <td>{{row.name}}</td>
        <td>{{row.age}}</td>
    </tr>
</table>  <br/> <br/>


<h3>Data From API</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let row of dataFromAPI" >
        <td>{{row.name}}</td>
        <td>{{row.email}}</td>
    </tr>
</table> 


<br/> <br/>

<h3> <b>Routing Module </b></h3>
<a routerLink="login">Login</a> &nbsp; &nbsp; &nbsp;
<a routerLink="register">Register</a>  <br/> <br/>
<h3>Lazy Loading Routing</h3>
Admin
<ul> 
    <li><a routerLink="admin/roles"> Roles </a></li>
    <li><a routerLink="admin/editroles">Edit Roles</a></li>
</ul>
<h3>Group Routing</h3>
Super - Admin
<ul> 
    <li><a routerLink="super-admin/roles"> Roles </a></li>
    <li><a routerLink="super-admin/editroles">Edit Roles</a></li>
</ul>
<router-outlet></router-outlet> <br/>

<h3>Lazy Loading Component</h3>
<button (click)="loadComponnent()">Transaction Component</button> <br/> <br/>

<h3>Template Driven Form</h3>
<form #templateForm="ngForm" (ngSubmit)="submitTemplateForm(templateForm.value)">
    <p>
        <label for="firstname" >First Name</label>
        <input type="text" name="firstname" ngModel required #firstName="ngModel"> <br/>
        <span *ngIf="firstName.touched && firstName.invalid" style="color: red;"> Invalid FirstName </span>
    </p>
    <p>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" ngModel required #lastName="ngModel"><br/>
        <span *ngIf="lastName.touched && lastName.invalid" style="color: red;"> Invalid LastName </span>
    </p>
    <p>
        <label for="email">Email</label>
        <input type="text" name="email" ngModel required #email="ngModel" email><br/>
        <span *ngIf="email.touched && email.invalid" style="color: red;"> Invalid Email </span>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" ngModel required #password="ngModel" minlength="5" maxlength="15"><br/>
        <span *ngIf="password.touched && password.invalid" style="color: red;"> Invalid Password </span>
    </p>
    <p>
        <label for="gender">Gender</label>
        <input type="radio" value="male" name="male" ngModel> Male
        <input type="radio" value="female" name="female" ngModel> Female
    </p>
    <p>
        <label for="agree">I agree to terms</label>
        <input type="checkbox" name="agree" ngModel required #agree="ngModel"><br/>
        <span *ngIf="agree.touched && agree.invalid" style="color: red;"> Agree to terms </span>
    </p>
    <p>
        <button type="submit" [disabled]="templateForm.invalid">Submit</button>
    </p>
</form>
<h3>Reactive Forms</h3>
<form [formGroup]="reactiveForm" (ngSubmit)="submitReactiveForm(reactiveForm.value)">
    <p class="form-group">
        <label for="nameReactive" > Name</label>
        <input type="text" name="nameReactive" class="form-control" formControlName="nameReactive" > <br/>
    </p>
    <p class="form-group">
        <label for="emailReactive"> Email</label>
        <input type="text" ngClass="is-invalid" name="emailReactive" class="form-control" formControlName="emailReactive"> <br/>
    </p>
    <p class="form-group">
        <label for="passwordReactive" > Password</label>
        <input type="text" name="passwordReactive" class="form-control" formControlName="passwordReactive"> <br/>
    </p>
    <button type="submit" [disabled]="reactiveForm.invalid">Submit</button>
</form>
<br/> <br/>  <br/> <br/>  <br/> <br/>
</div>
