<h2>Welcome to Angular</h2>
<app-users></app-users>

<h3>Click Event</h3>
<button (click)="clickButton(username.value)" style="color: rebeccapurple;">Click Me</button>

<h3>Key Up Event</h3>
<input type="text" (keyup.enter)="myEvent(username.value)" #username> 

<h3>Key Down Event</h3>
<input type="text" (keydown.enter)="myEvent($event.target.value)"> 

<h3>Blur</h3>
<input type="text" (blur)="myEvent($event.target.value)"> 

<h3 style="background-color: red;" (mouseover)="myEvent('Hovered Here')"> Mouse Hover Example</h3>

<h3 style="background-color: blue;" (mouseleave)="myEvent('UnHovered Here')"> Mouse Leave Example</h3>

<h3>Binding Value</h3>
<input type="text" [value]="course" [disabled]="isDisabled"><br/> <br/>
<input type="text" value={{course}} disabled={{isDisabled}}> <br/> <br/>
<button (click)="enableText()"> Enable </button> <br/> <br/>

<h3>If Loop</h3>
<h5 *ngIf="show; then ifBlock else elseBlock"></h5>
<ng-template #ifBlock>If Block</ng-template>
<ng-template #elseBlock>Else Block</ng-template>

<h3> Else if Condition </h3>
<ng-template [ngIf]="color=='red'"><p style="color: red;">Red Colour</p></ng-template>
<ng-template [ngIf]="color=='green'"><p style="color: green;">Red Colour</p></ng-template>
<ng-template [ngIf]="color=='blue'"><p style="color: blue;">Red Colour</p></ng-template>


<h3>Switch Condition</h3>
<div [ngSwitch]="colorSwitch">
    <h4 style="color: red;" *ngSwitchCase="'red'">Red Colour</h4>
    <h4 style="color: yellow;" *ngSwitchCase="'yellow'">Yellow Colour</h4>
    <h4 style="color: blue;" *ngSwitchCase="'blue'">Blue Colour</h4>
    <h4 style="color: green;" *ngSwitchCase="'green'">Green Colour</h4>
    <h4 style="color: grey;" *ngSwitchDefault>Grey Colour</h4>
</div>

<h3>For Loop</h3>
<table border="1">
<tr>
    <th>Name</th>
    <th>Age</th>
</tr>
<tr *ngFor="let row of data" >
    <td>{{row.name}}</td>
    <td>{{row.age}}</td>
</tr>
</table>